.footer {
    align-items: center;
    background: var(--primary);
    color: var(--fore-light);
    display: flex;
    font-size: 0.75rem;
    height: 2rem;
    justify-content: center;
    text-align: center;
}
