* {
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

@import "./variables";

.container {
    height: calc(100vh - 3rem);
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.CodeMirror {
    border-radius: var(--border-radius);
    height: 100%;
    padding: 0.5rem;
}

.preview {
    padding: 0.5rem;
}